!!!
%html
  %head
    %title Fstfwd.me
    %link{:href => "http://fonts.googleapis.com/css?family=Aldrich", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'main.css'
    = javascript_include_tag "json2", "jquery", "underscore", "backbone", "application", "models/song.js", "controllers/songs.js", "views/newsong.js", "views/show.js"
    = csrf_meta_tag
  %body
  .container
    .contents
      = yield